@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
  font-weight: 100; /* font-thin */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300; /* font-light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400; /* font-normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
  font-weight: 500; /* font-medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: 700; /* font-bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900; /* font-black */
  font-style: normal;
  font-display: swap;
}



/* --- GLOBAL FONT FAMILY (opcional: así TODO usa Neue Haas Display) --- */
html, body {
  font-family: 'Neue Haas Display', sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  /* ❌ elimina el rebote / overscroll */
  overscroll-behavior: none;

  /* evita scroll horizontal fantasma */
  overflow-x: hidden;
}
